* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 2%;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    text-decoration: none;
    color: rgb(147, 202, 250);
}

#navbar {
    background-color: rgb(21, 34, 95);
    padding: 18px;
    position: fixed;
    width: 100%;
}

#home {
    padding: 12%;
    text-align: center;
    color: rgb(176, 0, 123);
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
}

#webdev {
    color: rgb(21, 34, 95);
}

#fig {
    background-color: rgb(21, 34, 95);
    text-align: center;
    padding: 2%;
}

#profilepic {
    width: 250px;
    border: 2px solid black;
}

#aboutme {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5% 20%;
    color: rgb(21, 34, 95);
}

#aboutme h2 {
    text-decoration: underline;
    margin-bottom: 20px;
}

#footer {
    background-color: rgb(21, 34, 95);
    color: white;
    justify-content: center;
    text-align: center;
    padding: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

footer .social {
    margin-bottom: 25px;
    text-decoration: underline;
}

#footer .media-icons a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px;
}

#footer .media-icons a:hover {
    color: rgb(94, 94, 238);
}

#skills {
    text-align: center;
    padding: 5%;
    color: rgb(21, 34, 95);
}

#skills li {
    list-style-type: none;
}

#skills h2 {
    text-decoration: underline;
    margin-bottom: 20px;
}

#education {
    background-color: rgb(21, 34, 95);
    color: white;
    padding: 5%;
    text-align: center;
}

#education li {
    list-style-type: none;
}

#education h2 {
    text-decoration: underline;
    margin-bottom: 20px;
}

@media only screen and (max-width: 580px) {
    #home {
        font-size: 20px;
        padding: 25%;
        margin-bottom: -25px;
    }
    #profilepic {
        width: 180px;
    }
    #aboutme{
        padding: 5% 10%;
    }
}